doctype html
html
    head
        title= title
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js")
        link(rel="stylesheet", href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    body
        block content
